.contentTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokeball {
    width: 30px;
    height: 30px;
    margin: 20px;
}

.title {
    text-align: center;
    font-weight: 900;
    color: rgb(214, 214, 0);
}

.contentCards {
    max-width: 1300px;
    margin: auto;
    padding: 20px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}